.map{
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
}
.map__info{
  padding: 20px;
  margin-top: 30px;
}

.filterBtn{
  height: 40px;
  padding: 10px;
  margin-bottom: 25px;
}

.leaflet-container {
  width: 850px;
  height: 650px;
  border: solid 1px black;
  box-shadow: 0px 0px 6px 0px black;
}